body {
    background-color: #EEEEEE;
    color: #242533;
}

div.pusher {
    background-color: #EEEEEE;
    padding-top: 70px;
}

.line {
    background: #A54686;
    display: inline-block;
    height: 0.15587em;
    max-width: 10em;
    width: 75%;
}

.pusher .ui.container .ui.piled.segment p,
.pusher .ui.container .ui.piled.segment samp,
.pusher .ui.container .ui.piled.segment label,
.pusher .ui.container .ui.piled.segment div,
.pusher .ui.container .ui.piled.segment .ui.header {
    color: #242533;
}

.pusher .ui.container .ui.piled.segment .ui.label {
    color: #EEEEEE;
}

.pusher .ui.container .ui.piled.segment p,
.pusher .ui.container .ui.piled.segment span,
.pusher .ui.container .ui.piled.segment label {
    font-size: 1.15em;
}

.pusher .ui.container .ui.piled.segment .field{
    padding-top: 0.7em;
}

.ui.menu.sidebar {
    background-color: #242533;
}

.ui.menu.sidebar .item > img,
.ui.fixed.sticky.menu {
    height: 38px;
}

.ui.fixed.sticky.menu {
    height: 100% !important;
    background-color: #242533;
    top: 65px;
}

.ui.fixed.sticky.menu .item.item_logo {
    background-color: #DFDADD;
}

.ui.fixed.sticky.menu .item.item_profile {
    background: url(../images/fondo-user-2.png) no-repeat 0% 0%/cover;
    /*background-color: #1E555C;*/
}

.ui.fixed.top.menu {
    background-color: #DFDADD;
}

.ui.fixed.top.menu img {
    height: 40px;
}

.pusher .ui.container > h1 {
    margin-bottom: 0;
    color: #242533;
}

/* Formularios Publicaciones */

.pusher .ui.segment .ui.form .message,
.ui.modal .content.ui.form .message {
    margin-top: 0;
    margin-bottom: 5px;
}

.pusher .ui.segment .ui.form .button_load {
    background-color: #272838;
    color: #EEEEEE;
}

.ui.submit.button.button_submit {
    background-color: #455a64;
}

.pusher .ui.segment .ui.form .ui.segment .ui.segment {
    padding-bottom: 0;
}

.pusher .ui.segment .ui.form .ui.segment .selected_list {
    width: 100%;
    max-height: 145px;
    overflow: scroll
}

.ui.label.color_1,
.ui.button.color_1 {
    background-color: #AD5691;
    color: #EEEEEE;
}

.ui.label.color_2,
.ui.button.color_2 {
    background-color: #96407A;
    color: #EEEEEE;
}

.ui.label.color_3,
.ui.button.color_3 {
    background-color: #793362;
    color: #EEEEEE;
}

.pusher .ui.container .ui.card .content .header {
    font-size: 1.2em;
}

.pusher .ui.container .ui.piled.segment {
    margin: 30px 0;
}

/*INICIO*/

.pusher .ui.container.start-container .ui.sticky-filter.segment {
    min-width: 23% !important;
    max-width: 23% !important;
    height: 85% !important;
    overflow: scroll;
    margin-top: 0;
}

.pusher .ui.container.start-container .ui.sticky-filter.segment .ui.top.attached.label {
    font-size: 1em;
}

/* DETALLES PUBLICACIONES */

.pusher .segment-title {
    background-color: #272838;
    height: auto;
    width: 100%;
}

.pusher .segment-title .ui.container h1.ui.header{
    color: #A54686;
    padding-top: 30px;
    padding-bottom: 0px;
}

.overlay {
    padding: 0em;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
    background: transparent;
}

/* change style */
.fixed.overlay {
    background-color: #272838;
    position: fixed;
    padding: 0.5em;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    div.pusher {
        background-color: #EEEEEE;
        margin-top: 50px;
    }

    .ui.fixed.sticky.menu,
    .ui.fixed.top.menu img {
        display: none;
    }

    .line {
        max-width: 7em;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    div.pusher {
        background-color: #EEEEEE;
        margin-top: 50px;
    }

    .ui.fixed.sticky.menu,
    .ui.fixed.top.menu img {
        display: none;
    }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    div.pusher {
        background-color: #EEEEEE;
        margin-left: 18rem;
    }

    .pusher .ui.container {
        width: 727px;
    }

    .pusher .ui.container.start-container {
        width: 1080px;
        padding-left: 18rem;
    }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1407px) {
    div.pusher {
        background-color: #EEEEEE;
        margin-left: 18rem;
    }

    .pusher .ui.container {
        width: 927px;
    }

    .pusher .ui.container.start-container {
        width: 1267px;
        padding-left: 18rem;
    }
}

/*Large Monitor 2*/

@media only screen and (min-width: 1408px) {
    div.pusher {
        background-color: #EEEEEE;
        margin-left: 18rem;
    }

    .pusher .ui.container.start-container {
        width: 1458px;
        padding-left: 18rem;
    }
}